body{
  background-color: black;
}
#content{
  margin-top:50px;
}
.content-item{
  background-color: white;
  margin-top: 15px;
}
#content img{
  border:solid;
}
footer{
  background-color: grey;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 25px;
}
